<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>HELLOOOOOOO</h1>
      <form class="form" action="/signup" method="post">

        <input type="text" name="name" placeholder="What is your name?">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="year" placeholder="Birth year (1987)">

        <select name = "jobs">
          <option value="select" >Select a job</option>
          <option value="technical-manager" >Technical Manager</option>
          <option value="developer" >Developer</option>
          <option value="designer" >UI Designer</option>
          <option value="graphic" >Graphic Designer</option>
        </select>

        <input type="password" name="password" placeholder="Password">

        <button type="submit" name="submit"></button>
    </form>
  </body>
</html>
